@charset "utf-8";
	
* {padding:0; margin:0;}
body 	{font:10pt 'Nanum Gothic', sans-serif; background:pink; width:414px;
					 margin:auto; position:relative; margin-top:51.9pt;
}
html {scroll-behavior:smooth;}
img {max-width:100%; display:block;}

section h2 {display:none; }
embed {width:414px; height:51.9pt; border:none; overflow:hidden;
	   position:fixed; top:0; 
}